<h1>Listing report_requests</h1>

<table>
  <thead>
    <tr>
      <th>Request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_requests.each do |report_request| %>
      <tr>
        <td><%= report_request.request %></td>
        <td><%= link_to 'Show', report_request %></td>
        <td><%= link_to 'Edit', edit_report_request_path(report_request) %></td>
        <td><%= link_to 'Destroy', report_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report request', new_report_request_path %>
